body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(2024todo.webp);
    background-size: cover; /* You can use 'cover', 'contain', '100% auto', etc. */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background:black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    color:blue;
    text-align: center;
}

#app {
    margin-top: 20px;
}

input {
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: black;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #555;
}
